APP_HOST=localhost
APP_PORT=3000 
DATABASE_URL="xxxx"
AUTH_SECRET="xxxx"  
AUTH_SECRET_EXPIRES_IN="xx" 
AUTH_REFRESH_SECRET="xxxx"  
AUTH_REFRESH_SECRET_EXPIRES_IN="xx" 

OMISE_PUBLIC_KEY="pkey_test_xxxxx"
OMISE_SECRET_KEY="skey_test_xxxxx"

FIREBASE_PROJECT_ID=xxxx
FIREBASE_CLIENT_EMAIL=xxxxx
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nxxxxxxx\n-----END PRIVATE KEY-----\n"